/* Your styles here */
#container_page{
    margin-top: 55px;
}

#top_menu{
    background-color: #000000;
}

a#buttoom_direito_menu{
    background-color: #5A4A4A;
}

/*.menu-li a:hover,*/
/*.menu-li a:focus {*/
    /*color: #3c9aff;*/
    /*background-color: transparent;*/
/*}*/



